<h2>Sign in:</h2>
<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div>
      <label htmlFor="login-email">Email:</label>
      <input formControlName="email" id="login-email" type="email">
      <div *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email is required</div>
      </div>
    </div>
    <div>
      <label for="login-password">Password:</label>
      <input type="password" formControlName="password" id="login-password">
      <div *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minLength">Password must be at least 6 characters</div>
      </div>
    </div>
    <button class="button" type="submit">Sign in</button>
  </form>
</div>