<h2>Support Chat</h2>
<div class="support">
  <div class="support-message" *ngFor="let message of messages">
      {{message}}
  </div>
  <div class="support-chat">
    <form [formGroup]="supportChatForm" (ngSubmit)="supportChatForm.valid && onSubmit(supportChatForm.value)" class="support-chat-form">
      <div>
        <label for="message">Меssage:</label>
        <textarea formControlName="message" id="message" rows="3" autosize class="support-message-input"></textarea>
      </div>
      <button class="button" type="submit" [disabled]="supportChatForm.invalid">Send</button>
    </form>
  </div>
</div>
